<header class="encabezado navbar-fixed-top" role="banner" id="encabezado">
    <div class="container">

        <!--========Logo======== -->
        <a routerLink="/home" class="logo">
            <img src="assets/images/logo.svg" alt="Logo del sitio">
        </a>
        <!--========Fin Logo======== -->

        <!--========Botones======== -->
        <button type="button" class="boton-key" data-toggle="collapse" data-target="#bloque-key" routerLink="/login" aria-expanded="false">
      <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
  </button>

        <button type="button" class="boton-menu hidden-md-up" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
      <i class="fas fa-bars" aria-hidden="true"></i>
  </button>
        <div style="font-size:2em; color:tomato" class="boton-key">
            <i class="fas fa-globe"></i>
        </div>
        <button routerLinkActive="active" type="button" (click)="useLanguage('en')" class="active boton-key boton btn-primary btn-sm">en-US</button>
        <button routerLinkActive="active" type="button" (click)="useLanguage('es')" class="boton-key boton btn-primary btn-sm">es-MX</button>
        <!--========Fin Botones======== -->

        <!--========menu de navegacion======== -->
        <nav id="menu-principal" class="collapse">
            <ul>
                <li><a class="fas fa-home fa-lg" routerLinkActive="active" routerLink="/home"> {{ 'menuheader.inicio' | translate }}</a></li>
                <li><a class="fas fa-user fa-lg" routerLinkActive="active" routerLink="/nosotros"> {{ 'menuheader.nosotros' | translate }}</a></li>
                <li><a class="fas fa-clipboard-list fa-lg" routerLinkActive="active" routerLink="/servicios"> {{ 'menuheader.servicios' | translate }}</a></li>
                <li><a class="fas fa-envelope fa-lg" routerLinkActive="active" routerLink="/contacto"> {{ 'menuheader.contacto' | translate }}</a></li>
                <!-- <li><a class="fas fa-users fa-lg" routerLinkActive="active" routerLink="/bolsatrabajo"> Bolsa De Trabajo</a></li>-->

            </ul>

        </nav>

        <!--========Fin menu de navegacion======== -->
    </div>
    <!--Bolsa de trabajo
    <div class="container">

        <div class="buscador">
            <ul class="ulRedes">
                <li class="liLocaliza">
                    <a href="bolsa-de-trabajo.html">
                        <img src="assets/images/unete-icon.png" alt="Bolsa De Trabajo">
                        <div class="divlocaliza">Únete a nuestro equipo</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>-->
</header>