<body class="paginas-internas">
    <section class="bienvenidos">

        <div class="texto-encabezado text-xs-center">

            <div class="container">
                <h1 class="display-4  wow bounceIn">Servicios</h1>
                <p class="wow bounceIn" data-wow-delay=".3s">Experiencia en el manejo de todos los sectores y regimenes aduaneros.</p>

            </div>

        </div>

    </section>
    <section class="ruta p-y-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-right">
                    <a routerLink="/home">Inicio</a> » Servicios

                </div>
            </div>
        </div>
    </section>

    <main class="p-y-1 lista-servicios">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <article class="item-servicios">
                        <img src="assets/images/asesoria.svg" alt="Servicio Asesoria" class="rotar">
                        <h3><b>Asesoría</b></h3>

                        <p>
                            Asesoría jurídica y de comercio exterior antes, durante y después del despacho.
                        </p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#servicio1">Más información</button>

                    </article>
                </div>


                <div class="col-md-3">
                    <article class="item-servicios">
                        <img src="assets/images/barco.svg" alt="Servicio Importaciones Y Exportaciones" class="rotar">
                        <h3><b>Importaciones y Exportaciones</b></h3>
                        <p>
                            Recepción y reexpedición de embarques.
                        </p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#servicio2">Más información</button>

                    </article>
                </div>

                <div class="col-md-3">
                    <article class="item-servicios">
                        <img src="assets/images/logistica.svg" alt="Servicio Logística" class="rotar">
                        <h3><b>Logística</b></h3>
                        <p>
                            Coordinación de fletes internacionales.
                        </p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#servicio3">Más información</button>

                    </article>
                </div>

                <div class="col-md-3">
                    <article class="item-servicios">
                        <img src="assets/images/info.svg" alt="Servicio Información" class="rotar">
                        <h3><b>Información Digital</b></h3>

                        <p>
                            Informes completos de embarques, pedimentos y cuentas de gastos en línea.
                        </p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#servicio4">Más información</button>

                    </article>
                </div>

            </div>
        </div>
    </main>


    <!-- Modal 1  -->
    <div class="modal fade" id="servicio1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" style="color: rgb(255, 255, 255)"><b>Asesoría</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-8">
                            Atención personalizada con ejecutivos certificados.
                        </div>

                        <div class="col-md-4">
                            <img src="assets/images/asesoria.svg" alt="" width="200" class="img-fluid m-x-auto">
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Modal 2  -->
    <div class="modal fade" id="servicio2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" style="color: rgb(255, 255, 255)"><b>Importaciones y exportaciones</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-8">
                            <p>Trámites ante VUCEM para generar COVES y los e-documents necesarios para el embarque.</p>
                            <p>Despachos aduanales de maquinaria y equipo; incluso de grandes dimensiones.</p>
                            <p>Especialistas en despachos de mercancía a granel, Importación y exportación de productos perecederos.</p>

                        </div>

                        <div class="col-md-4">
                            <img src="assets/images/barco.svg" alt="" width="200" class="img-fluid m-x-auto">
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Modal 3  -->
    <div class="modal fade" id="servicio3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="color: rgb(255, 255, 255)"><b>Logística</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-8">
                            <p>Consolidación de carga.</p>
                            <p>Servicio puerta a puerta.</p>
                            <p>Coordinación de fletes terrestres nacionales.</p>
                            <p>Almacenamiento y distribución.</p>
                        </div>

                        <div class="col-md-4">
                            <img src="assets/images/logistica.svg" alt="" width="200" class="img-fluid m-x-auto m-t-2">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal 4  -->
    <div class="modal fade" id="servicio4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    <h4 class="modal-title" style="color: rgb(255, 255, 255)"><b>Información Digital</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-8">
                            <p>Entrega de expediente aduanal.</p>
                            <p>Reportes personalizados.</p>
                        </div>

                        <div class="col-md-4">
                            <img src="assets/images/info.svg" alt="" width="200" class="img-fluid m-x-auto m-t-2">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>