<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarEmbarque(input.value)" type="text" class="form-control" placeholder="Buscar embarques...">

            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fas fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mis Embarques</h4>
                <h6 class="card-subtitle">Create your table with Accordion Footable</h6>
                <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th data-toggle="true">Pedimento</th>
                            <th>Cliente</th>
                            <th>FechaTramite</th>
                            <th data-hide="all">Tipo de Pedimento</th>
                            <th data-hide="all">Patente</th>
                            <th data-hide="all">Año</th>
                            <th data-hide="all">Remesa</th>
                            <th data-hide="all">CvePedimento</th>
                            <th data-hide="all">ImportExport</th>
                            <th data-hide="all">TipoCarga</th>
                            <th data-hide="all">Guia</th>
                            <th data-hide="all">contenedor</th>
                            <th data-hide="all">Sello</th>
                            <th data-hide="all">Observaciones</th>
                            <th data-hide="all">Viaje</th>
                            <th data-hide="all">FArribo</th>
                            <th data-hide="all">Buque</th>
                            <th data-hide="all">NoIntegracion</th>
                            <th data-hide="all">CveSeccion</th>
                            <th data-hide="all">seccion</th>
                            <th data-hide="all">cveAduana</th>
                            <th data-hide="all">aduana</th>
                            <th data-hide="all">COVE</th>
                            <th data-hide="all">Placa</th>
                            <th data-hide="all">Rojo1</th>
                            <th data-hide="all">Liberado1</th>
                            <th data-hide="all">Rojo2</th>
                            <th data-hide="all">Liberado2</th>
                            <th data-hide="all">Liberado</th>
                            <th data-hide="all">Deposito</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let embarque of embarques">
                            <td>{{embarque.pedimento}}</td>
                            <td>{{embarque.Cliente}}</td>
                            <td>{{embarque.FechaTramite}}</td>
                            <td>{{embarque.TipoPedimento}}</td>
                            <td>{{embarque.Patente}}</td>
                            <td>{{embarque.Year}}</td>
                            <td>{{embarque.Remesa}}</td>
                            <td>{{embarque.CvePedimento}}</td>
                            <td>{{embarque.ImportExport}}</td>
                            <td>{{embarque.TipoCarga}}</td>
                            <td>{{embarque.Guia}}</td>
                            <td>{{embarque.contenedor}}</td>
                            <td>{{embarque.Sello}}</td>
                            <td>{{embarque.Observaciones}}</td>
                            <td>{{embarque.FArribo}}</td>
                            <td>{{embarque.Buque}}</td>
                            <td>{{embarque.NoIntegracion}}</td>
                            <td>{{embarque.CveSeccion}}</td>
                            <td>{{embarque.seccion}}</td>
                            <td>{{embarque.cveAduana}}</td>
                            <td>{{embarque.aduana}}</td>
                            <td>{{embarque.Sello}}</td>
                            <td>{{embarque.COVE}}</td>
                            <td>{{embarque.Placa}}</td>
                            <td>{{embarque.Rojo1}}</td>
                            <td>{{embarque.Liberado1}}</td>
                            <td>{{embarque.Rojo2}}</td>
                            <td>{{embarque.Liberado2}}</td>
                            <td>{{embarque.Liberado}}</td>
                            <td>{{embarque.Deposito}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                    <i class="fas fa-angle-left"></i> Anteriores
                  </button>
        <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                      Siguientes <i class="fas fa-angle-right"></i>
                </button>


    </div>
</div>